body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #ccc;
}

.gadget-container {
    position: absolute;
    border-radius: 5px;
	border: 1px solid #ccc;
}
